

.container {
    width: 40%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    box-shadow: 0 10px 30px 0 rgb(15 16 16 / 35%);
    background-color: rgba(0, 0, 0, 0.268);
}

h2 {
    text-align: center;
}

.form-group {
    margin: 20px 0;
}

.form-group label {
    display: block;
}

.form-group input[type="submit"] {
    background: #ccc;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.form-group input[type="submit"]:hover {
    background-color: rgb(46, 123, 119);
}

.form-group .note {
    font-size: 12px;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.button-group button {
    flex-grow: 1;
    margin: 0 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.button-group button.active {
    background-color:rgb(46, 123, 119);
    color: #fff;
}

.switch-form {
    text-align: center;
    margin-top: 10px;
}

.switch-form a {
    text-decoration: none;
    color:rgb(46, 123, 119);
}.role-button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;

}